.buscador-contenedor {
  position: relative;
  top: 23%;
  left: 60%;
  z-index: 105;
  width: 100%; 
  max-width: 500px; 
  margin-top: -80px; 
  display: flex;
  justify-content: space-between; 
}

.estilo-autocompletable {
  font-family: sans-serif;
  width: 80%; 
}

.estilo-button {
  width: 15%; 
  height: 37px;
  background-color: #195ac3;
  border: none;
  color: #000000;
  z-index: 100;
  margin-right: 35px;
}

.estilo-buttonx {
  position: relative;
  width: 100px;
  height: 37px;
  background-color: floralwhite;
  border: none;
  color: #000000;
  z-index: 105;
  left: 0; 
  margin-right: 1px; 
}

/* Estilos para el mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  clear: both;
}

/* Estilo para el mensaje de error en pantallas pequeñas */
@media only screen and (max-width: 500px) {
  .error-message {
      font-size: 12px;
  }
}

@media only screen and (max-width:1200px){
  .buscador-contenedor{
    width: 30%;
    left: 70%;
      top: 25%;
  }  .estilo-buttonx{
      left: -7%;
      margin-right: -5%;
    }
}
@media only screen and (max-width:769px){
  .estilo-button{
      width: 15%;
    }
  .estilo-autocompletable{
      font-family: sans-serif;
      height: 25px;
    }
    .estilo-buttonx{
      left: -9%;
      margin-right: -7%;
    }
  
}
@media only screen and (max-width:500px){
  .buscador-contenedor{
      width: 30%;
      left: 75%;
      top: 10%;
  }
  
}

.buscador-fijo {
  position: fixed;
  top: 23%;
  margin-left: 2%;
  z-index: 105;
  width: 100%; 
  max-width: 500px; 
  margin-top: -145px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

