.reciForma {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formato-titulo{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-content-header{
  display: flex;
  justify-content: space-around;
  gap: 3%;
  margin: 0 32px;
}
.recipe-image{
  align-self: center;
}
.recipe-image img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  width: 100%;
  min-width: 150px;
  
}

.recipe-text{
  text-align: center;
  width: 60%;
  overflow-wrap: break-word;
  font-size: 16px;
  font-family: sans-serif;
}

.recipe-video {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}


.recipe-buttons {
  display: flex;
  align-self: center;
  gap: 8px;
  margin-top: -24px;
  flex-direction: column;
  justify-content: center;
}

.recipe-buttons .anticon{
  display: inline;
}

.buttonn{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.edit-button:hover,
.delete-button:hover {
  background-color: #bd0707;
}
.recipe-buttons .classHeart svg{
  fill: #333;
  width: 40px;
  height: 40px;
}
.recipe-buttons .classHeartLike svg{
  width: 40px;
  height: 40px;
}
.recipe-reacion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*RESPONSIVE*/
@media only screen and (max-width: 504px){
  .recipe-video{
    width: 95%;
  }
  .reciForma{
    width: 100%;
  }

}
@media only screen and (max-width: 769px){
  .recipe-content-header{
    flex-wrap: wrap;
    align-items: center;
    row-gap: 16px;
  }
  .recipe-buttons{
    order:2;
    flex: 0.5;
    margin-top: 0 ;
    margin:0 auto;
    display: flex;
    justify-content: center;
    
  }
  .buttonn{
    align-self: center;
  }
  .recipe-image{
    order: 2;
    flex: 1;
    display: flex;
    justify-content:end;
  }
  p{
    padding-top: 0;
    margin:0;
  }
  .recipe-text{
    order: 3;
    width: 80%;
  }
}
@media only screen and (max-width: 460px){

  .recipe-image{
    order: 2;
    flex: 1;
    display: flex;
    justify-content:center;
  }
  .recipe-text{
    width: 100%;
  }
  .recipe-buttons{
    flex-direction: row;
    align-items: center;
  }
  .buttonn{
    flex-direction: row;
  }
}