.menuPlatillo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menuTitle {
  font-family: sans-serif;
  font-size: 4vw;
}

.menuList {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.contenedorTitulo{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 90%;
  margin: 20px ;
  overflow:hidden;
  background-color: transparent;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;

}

.menuItemImagen{
  border-radius: 10px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.4s ease;
}

.menuItemImagen:hover{
  transform: scale(1.5, 1.2);
  transition: 0.4s ease-in;
}


.menuItemTitulo:hover{
  color: blue;
  transform: translate(0, 0.5em);
}
.menuItemTitulo{
  text-align:left;
  font-family: sans-serif;
  font-size: 1.6vw;
  transition: all 0.4s ease;
}
.ItemContenedorImagen{
  height: 200px;
  overflow: hidden;
}
.ItemContenedorImagen:hover ~ .contenedorTitulo .ItemContenedorTitulo > .menuItemTitulo{
  color: rgba(4, 0, 255, 0.9);
  transform: translateY(0.5em);
}
.ItemContenedorImagen:hover ~ .contenedorTitulo .classHeart{
  transform: translateY(0.5em);
  transition: transform 0.5s ease;
}
.ItemContenedorImagen:hover ~ .contenedorTitulo .classHeartLike{
  transform: translateY(0.5em);
  transition: transform 0.5s ease;
}
.menuItemTituloHover{
  transform: scale(1.4,1.2);
  transition: transform 0.3s ease;
}
a{
  color: #333;
}

.classHeart svg{
  fill: #333;
  width: 24px;
  height: 24px;
}

.classHeart:hover{
  filter: brightness(3);
  filter: contrast(2);
  transform: scale(1.1);
  transition: all 0.3s;
}
.classHeartLike:hover{
  filter:contrast(0.7);
  transform: scale(1.1);
  transition: all 0.3s;
}


@media only screen and (max-width: 769px) {
  .menuItemTitulo {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 769px) {
  .menuList {
    grid-template-columns: repeat(3, 1fr);

  }
  .menuItemTitulo{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 520px) {
  .menuList {
    grid-template-columns: repeat(2, 1fr);
  
  }
  .menuItemTitulo{
    font-size: 2.3vw;
  }
}
