.contenedor-Div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
/*     background-color: #b07961; */
    /*width: 80%; /* Ancho del contenedor, ajusta según tus necesidades */
    /*max-width: 600px; /* Ancho máximo del contenedor */
    /*height: 70vh; /* Altura del contenedor */
    /*max-height: 400px; /**/
}

.contenedor-Login{
    width: 100%; /* El div ocupa el 80% del ancho de su contenedor */
    max-width: 400px; /* Tamaño máximo del div en anchura */
  }
  
  /* Estilos adicionales para hacer el texto responsive */
  .contenedor-Login h1 {
    font-size: 2em; /* Puedes ajustar el tamaño del texto según tus necesidades */
  }
