
.estilo-buttonMenu{
    position: absolute  ;
    width: 20%;
    height: 37px;
    margin-top: -295px;
    margin-left: 91.6%;
}

@media (min-width: 320px) and (max-width: 481px){
  .estilo-buttonMenu{
    position: absolute  ;
    height: 28px;
    margin-top: -525px;
    margin-left: 75%;
  }
}