
.tituloest{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tasasRoscas{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
}

.contenedorTasa{
    border-radius: 12px;
    border: 2px solid #333;
    width: 47%;
    display: flex;
    justify-content: center;
    padding: 0.9rem 2%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedorTasa:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 20px rgba(39, 10, 255, 0.3), 0 6px 20px 0 rgba(39, 10, 255, 0.3);
    transition: all 0.375s ease-in-out;
}

.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cantidad{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.tasa{
    width: 30%;
    min-width: 80px;
}

.totalesEst{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    
}

.contenedorTotal{
    width: 30%;
    min-width: 110px;
    height: 120px;
    border-radius: 12px;
    border: 2px solid #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedorTotal:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 20px rgba(39, 10, 255, 0.3), 0 6px 20px 0 rgba(39, 10, 255, 0.3);
    transition: all 0.375s ease-in-out;
}

.iconTotal{
    width: 80px;
    height: 80px;

}

.descripcionTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    .cantidad{
        font-size: 20px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .text{
        margin: 0px;
        text-align: center;
        margin-top: 5px;
        max-width: 100px;;
    }
}

.calificacionesEst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    margin: 0 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .cantidad{
        align-self: center;
    }
}
.descripcionTasas{
    width: 80%;
    padding: 8px;
}

.calificacionesEst h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    align-self: center;
}

.contenedorGrafico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media only screen and (max-width:900px){
    .totalesEst{
        width: 85%;
    }
    .tasasRoscas{
        width: 85%;
    }
    .calificacionesEst{
        padding: 0 7%;
        margin: 0 8%;
    }
}

@media only screen and (max-width:780px){
    .totalesEst{
        width: 90%;
    }
    .contenedorTotal{
        flex-direction: column;
        height: 170px;
    }
    .tasasRoscas{
        width: 90%;
    }
    .calificacionesEst{
        padding: 0 5%;
        margin: 0 5%;
    }
}
@media only screen and (max-width:700px){
    .totalesEst{
        width: 90%;
    }
    .contenedorTotal{
        flex-direction: column;
    }
    .tasasRoscas{
        width: 90%;
    }
    .calificacionesEst{
        padding: 0 5%;
        margin: 0 5%;
    }
}

@media only screen and (max-width:492px){
    .totalesEst{
        width: 95%;
    }
    .tasasRoscas{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contenedorTasa{
        width: auto;
        margin-bottom: 16px;
        width: 80%;
        justify-content: center;
        
    }
    .totalesEst{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contenedorTotal{
        flex-direction: row;
        width: 80%;
        height: auto;
        margin-bottom: 16px;
  
    }
    .tasasRoscas{
        width: 95%;
    }
    .calificacionesEst{
        padding: 0 2.5%;
        margin: 0 2.5%;
    }
}