.div-center{
    font-family: sans-serif;
  text-align: center;
}

.texto{
    font-size: 45px;
}


.estilo-autocompletable{
  position: absolute;
  width: 40%;
  margin-top: -154px;
  margin-left: 53%;
}

.estilo-button{
  position: absolute  ;
  width: 20%;
  height: 37px;
  margin-top: -108px;
  margin-left: 90.7%;
  background-color: #195ac3; 
  border: none; 
  color: #000000;
}

.estilo-buttonx{
  position: absolute  ;
  width: 100px;
  height: 37px;
  margin-top: -150px;
  margin-left: 89.8%;
  background-color: transparent; 
  border: none;
  color: #000000;
}



.input-field {
  width: calc(100% - 100px);
  padding-right: 36px;
}


.input-container {
  position: relative;
}

.error-message {
  position: absolute;
  top: -125px;
  margin-left: 63%;
  color: #ff0000; 
  background-color: #ffe6e6; 
  padding: 2px; 
  border: 1px solid #ff0000; 
  margin-top: 8px; 
}

@media (min-width: 320px) and (max-width: 481px){
  
}