.div-center{
    font-family: sans-serif;
  text-align: center;
}

.texto{
    font-size: 45px;
}


.estilo-autocompletable{
  position: absolute;
  width: 40%;
  margin-top: -84px;
  margin-left: 53%;
}

.estilo-button{
  position: absolute  ;
  width: 20%;
  height: 37px;
  margin-top: -84px;
  margin-left: 91%;
}