.contenedor-Div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

.contenedorLogin{
  
  padding: 30px;
  padding-top: -30px;
  padding-bottom: 60px;
  width:520px; /* El div ocupa el 80% del ancho de su contenedor */
  height: 680px;
  /* Tamaño máximo del div en anchura */
}

.DivIniSesion{
  margin-bottom: 10px;
}

/* Estilos adicionales para hacer el texto responsive */
.contenedor-Login h1 {
  font-size: 2em; /* Puedes ajustar el tamaño del texto según tus necesidades */
}